.btnLinkProject {
  box-shadow: 1px 5px 4px -1px rgba(255, 255, 255, 0.4);
  @apply text-center h-10 px-4 rounded cursor-pointer py-2 ;

  &:hover {
    @apply font-bold 
  }

  &:active {
    @apply shadow-none transition-all translate-y-[1px] duration-150 
  }
}

.deploy {
  background-color: #2250b4;
}

.code {
  background-color: #000;
}